<h2>CV</h2>

<ul>
    <% data.forEach(function(dta) { %>
        <li>Name: <%= dta.firstname %>  <%= dta.lastname %><br> Age: <%= dta.age %>  <br> <img src= <%= dta.picture %> width="70" height="70" /> 
        <br>
       <br> Degree: <br>
        <% dta.education.forEach(function(edu) { %>
         <%= edu.degree %> <br>
        <% }); %>
        <br>
        Profiles: <br>
        <% dta.profiles.forEach(function(prof) { %>
        <%= prof.link %> <br>
        <% }); %>
    </li>
    <% }); %>
    
    
    
    
</ul>
